.card-product {
    display: flex;
    &__image {
        margin-right: rem(24px);
        min-width: 114px;
        img {
            border-radius: 8px;
            width: 114px;
        }

        @include screen (md, min) {
            margin-right: rem(40px);
            min-width: 104px;
            img {
                border-radius: 16px;
                width: 100%;
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: rem(24px);
        font-weight: 500;
        line-height: rem(30px);
        margin-bottom: rem(8px);
        margin-top: - rem(5px);
        a {
            color: $square-black;
            transition: color 0.3s;
        }
        &:hover {
            a {
                color: $square-market-blue;
            }
        }
    }
    &__deck {
        font-size: rem(16px);
        line-height: rem(24px);
        margin-bottom: rem(32px);

        @include screen(sm, min) {
            max-width: 230px;
        }
    }
    &__button {
        align-self: flex-start;
        font-size: rem(16px);
        line-height: rem(21px);
        padding: em(14px);

        @include screen (md, min) {
            margin-top: auto;
        }
    }
}
