.card-no-image {
    &__title {
        margin-top: rem(16px);
        a {
            color: $square-black;
            display: inline-block;
            font-family: $heading-font;
            font-size: rem(23px);
            font-weight: 500;
            line-height: rem(30px);
            transition: color 0.3s;

            @include screen(sm) {
                font-size: rem(20px);
                line-height: rem(26px);
            }
            &:hover {
                color: $square-market-blue;
            }
        }
    }
}
