.sq-section-title {
    border-top: 1px solid $square-light-line;
    color: $square-black;
    font-family: $heading-font-cond;
    font-size: rem(14px);
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: rem(20px);
    margin-bottom: rem(48px);
    padding-left: em(18px);
    padding-top: em(16px);
    position: relative;
    text-transform: uppercase;
    &--on-black {
        border-top: 1px solid $square-dark-line;
        color: $white;
    }
    a {
        border-bottom: 1px solid transparent;
        color: $square-market-blue;
        display: inline-block;
        margin-left: rem(12px);
        transition: border-bottom 0.3s;
        &:hover {
            border-bottom: 1px solid $square-market-blue;
        }
    }

    @include screen(sm) {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(38px);
    }
    &::before {
        background-color: $square-market-blue;
        border-radius: 2px;
        content: "";
        height: 10px;
        left: 0;
        position: absolute;
        top: 19px;
        width: 10px;
    }
}
