.archive-collection {
    padding-bottom: em(64px);
    padding-top: em(40px);
    &-featured {
        .card-large-image {
            margin-bottom: rem(82px);

            @include screen(sm) {
                margin-bottom: rem(60px);
            }
        }
    }

    @include screen (md, min) {
        padding-bottom: em(120px);
        padding-top: em(120px);
    }
    .list-item {
        padding: em(36px) 0 em(32px);

        @include screen(sm) {
            padding: em(28px) 0 em(24px);
        }
        &:first-of-type {
            border-top: none;
            padding-top: 0;
        }
        &:last-of-type {
            padding-bottom: 0;
        }
        &-content {
            &__title {
                max-width: 100%;
                a {
                    font-size: rem(24px);
                    line-height: rem(30px);

                    @include screen(sm) {
                        font-size: rem(20px);
                        line-height: rem(26px);
                    }
                }
            }
        }
        &__image {
            min-width: 103px;
            img {
                max-width: 103px;
            }

            @include screen(sm) {
                min-width: 68px;
                img {
                    max-width: 68px;
                }
            }
        }
    }
    &__content {
        margin-bottom: rem(40px);

        @include screen (md, min) {
            margin-bottom: 0;
            padding-right: em(24px);
        }
    }
    &__title {
        font-family: $heading-font;
        font-size: rem(36px);
        font-weight: 500;
        line-height: rem(44px);
        margin-bottom: rem(16px);
        a {
            color: $square-black;
            transition: color 0.3s;
            &:hover {
                color: $square-market-blue;
            }
        }

        @include screen (md, min) {
            font-size: rem(48px);
            line-height: rem(53px);
        }
    }
    &__description {
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
        margin-bottom: 0;
    }
    &__button {
        display: inline-block;
        letter-spacing: -0.01em;
        margin-top: rem(48px);
        padding: em(14px);

        @include screen (md, min) {
            margin-top: rem(52px);
        }
        &--desktop {
            @include screen (sm) {
                display: none;
            }
        }
        &--mobile {
            @include screen (sm, min) {
                display: none;
            }
        }
    }
    &--black {
        background-color: $square-black;
        .sq-section-title {
            border-top: 1px solid $square-dark-line;
            color: $white;
        }
        .list-item {
            border-color: $square-dark-line;
            &:nth-of-type(2) {
                border-top: 1px solid $square-dark-line;
            }
            &-content {
                &__title {
                    a {
                        color: $white;
                    }
                    &:hover {
                        a {
                            color: $square-market-blue;
                        }
                    }
                }
            }
        }
    }
    &--black &__title {
        a {
            color: $white;
            &:hover {
                color: $square-market-blue;
            }
        }
    }
    &--black &__description {
        color: $white;
    }
}
