.archive-explore-tools {
    &-posts {
        margin-bottom: rem(90px);

        @include screen(sm) {
            margin-bottom: rem(64px);
        }
        &__post {
            border-top: 1px solid $square-light-line;
            padding-bottom: em(32px);
            padding-top: em(36px);
            &:first-child {
                border-top: 0;
                padding-top: 0;
            }

            @include screen(sm) {
                padding-bottom: em(24px);
                padding-top: em(28px);
            }
            .list-item-content__title {
                max-width: 892px;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &-load-more {
        margin-bottom: rem(90px);
        text-align: center;

        @include screen(sm) {
            margin-bottom: rem(64px);
            margin-top: 0;
        }
        &__button {
            font-size: rem(16px);
            font-weight: 600;
            letter-spacing: -0.01em;
            line-height: rem(21px);
            padding: em(14px) em(20px);
        }
    }
}
