.archive-featured-articles {
    padding-bottom: em(36px);

    @include screen(sm, min) {
        padding-bottom: em(116px);
    }
    &__posts.slick-slider {
        margin-right: - rem(16px);
    }
    &__post {
        border-top: 1px solid $square-light-line;
        padding-top: em(28px);

        @include screen(sm, min) {
            margin-bottom: rem(60px);
            padding-top: em(40px);
        }
        .card-top-image {
            &__title {
                a {
                    font-size: rem(32px);
                    line-height: rem(38px);

                    @include screen(sm) {
                        font-size: rem(20px);
                        line-height: rem(26px);
                    }
                }
            }
        }
    }
    &__column {
        @include screen(sm) {
            padding-right: em(24px);
        }
        break-inside: avoid;
        -moz-column-break-inside: avoid;
        page-break-inside: avoid;
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
            .archive-featured-articles__post {
                @include screen(sm, min) {
                    border-top: 0;
                    padding-top: 0;
                }
            }
        }
        &--mobile-first-post {
            display: none;

            @include screen(sm) {
                display: block;
                margin-bottom: rem(24px);
                .archive-featured-articles__post {
                    border-top: 0;
                    padding-top: 0;
                }
            }
            .card-top-image {
                &__title {
                    a {
                        font-size: rem(32px);
                        line-height: rem(38px);
                    }
                }
            }
        }
    }
    .masonry {
        @include screen(sm, min) {
            column-count: 3;
            column-fill: balance;
            column-gap: rem(40px);
        }
    }
    .slick-list {
        @include screen(sm) {
            padding: 0 20% 0 0;
        }
    }

    @include screen(sm) {
        .slick-slide:nth-child(2),
        .slick-slide:nth-child(8) {
            display: none;
        }
    }
}
