.search-categories,
.filter-by-categories,
.filter-by-tags {
    margin-bottom: rem(40px);
    text-align: center;

    @include screen (sm, min) {
        margin-bottom: rem(82px);
    }
    &__topic {
        align-items: center;
        border: 1px solid $square-light-line;
        border-radius: 258px;
        display: none;
        font-family: $body-font;
        font-size: rem(14px);
        font-weight: 600;
        line-height: rem(20px);
        margin: rem(7px) rem(5px);
        padding: em(14px) em(28px);
        transition: border-color 0.3s;
        &:hover {
            border-color: $square-market-blue;
        }
        &--count {
            color: $square-market-blue;
            font-size: rem(11px);
            font-weight: 500;
            letter-spacing: 1.2px;
            line-height: rem(18px);
            margin-left: rem(8px);
        }
        img {
            height: 5px;
            margin-left: rem(28px);

            @include screen (sm, min) {
                display: none;
            }
        }
        &--active {
            background-color: $square-market-blue;
            border-color: $square-market-blue;
            color: $white;
            pointer-events: none;
            .search-categories__topic--count,
            .filter-by-categories__topic--count,
            .filter-by-tags__topic--count {
                color: $white;
            }
        }

        @include screen (sm, min) {
            display: inline-flex;
        }
    }
    &__view-all {
        color: $square-market-blue;
        display: none;
        font-family: $body-font;
        font-size: rem(11px);
        font-weight: 500;
        letter-spacing: 1.2px;
        line-height: rem(18px);
        margin-left: rem(10px);
        text-transform: uppercase;
        ~ .search-categories__topic,
        ~ .filter-by-categories__topic,
        ~ .filter-by-tags__topic {
            display: none;
        }

        @include screen (sm, min) {
            display: inline-block;
        }
    }
    &__topics {
        @include screen(sm) {
            &--desktop {
                display: none;
            }
        }
        &--expanded {
            .search-categories__topic,
            .filter-by-categories__topic,
            .filter-by-tags__topic {
                display: inline-flex;
            }
        }
    }
    &__popup {
        background-color: $white;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding: em(20px) em(16px);
        position: fixed;
        right: 0;
        text-align: left;
        top: 0;
        transition: all 0.3s;
        visibility: hidden;
        z-index: 2;
        &--active {
            opacity: 1;
            visibility: visible;
        }

        @include screen (sm, min) {
            display: none;
        }
        &--title {
            color: $square-grey;
            font-size: rem(11px);
            font-weight: 500;
            letter-spacing: 1.2px;
            line-height: rem(18px);
            margin: 0 0 rem(42px);
            text-transform: uppercase;
        }
        &--close {
            position: absolute;
            right: em(16px);
            top: em(22px);
        }
        .search-categories,
        .filter-by-categories,
        .filter-by-tags {
            &__topics {
                margin-left: rem(-12px);
                margin-right: rem(-12px);
            }
            &__topic {
                display: inline-flex;
            }
        }
        &-toggle {
            display: inline-flex;

            @include screen (sm, min) {
                display: none;
            }
        }
        &-toggle.filter-by-categories__topic--active,
        &-toggle.filter-by-tags__topic--active,
        &-toggle.search-categories__topic--active {
            pointer-events: auto;
        }
    }
}

.search-categories,
.filter-by-categories {
    &__topic {
        text-transform: capitalize;
    }
}
