.archive-header {
    padding-bottom: em(70px);
    padding-top: em(55px);
    text-align: center;

    @include screen(sm, min) {
        padding-bottom: em(96px);
        padding-top: em(72px);
    }
    &__subheading {
        color: $square-grey;
        font-family: $body-font;
        font-size: rem(11px);
        font-weight: 500;
        letter-spacing: 1.2px;
        line-height: rem(18px);
        margin-bottom: rem(14px);
        text-transform: uppercase;
    }
    &__heading {
        font-family: $heading-font;
        font-size: rem(36px);
        font-weight: 500;
        letter-spacing: -0.75px;
        line-height: rem(44px);
        margin: 0 auto rem(16px);
        max-width: 1000px;

        @include screen(md, min) {
            font-size: rem(64px);
            line-height: rem(72px);
            margin-bottom: rem(32px);
        }
    }
    &__deck {
        font-family: $body-font;
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
        margin: 0 auto;
        max-width: 584px;
    }
    &--black {
        background-color: $square-black;
    }
    &--black &__heading, &--black &__subheading {
        color: $white;
    }
    &--landing-page {
        padding-bottom: em(55px);
        padding-top: em(55px);

        @include screen(sm, min) {
            padding-bottom: em(128px);
            padding-top: em(117px);
        }
        .archive-header {
            &__heading {
                font-size: rem(48px);
                line-height: rem(60px);
                margin: 0 auto;

                @include screen(md, min) {
                    font-size: rem(88px);
                    line-height: rem(90px);
                }
            }
        }
    }
}
