.archive-most-recent {
    &__posts {
        margin-bottom: rem(64px);

        @include screen (sm, min) {
            margin-bottom: rem(120px);
        }
    }
    .list-item {
        margin-top: rem(24px);
        padding-top: em(28px);
        &:first-of-type {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }

        @include screen (sm, min) {
            margin-top: rem(32px);
            padding-top: em(36px);
        }
        &__image {
            min-width: 68px;
            img {
                max-width: 68px;
            }

            @include screen (sm, min) {
                min-width: 103px;
                img {
                    max-width: 103px;
                }
            }
        }
        &-content {
            margin-left: rem(24px);

            @include screen (sm, min) {
                margin-left: rem(42px);
            }
            &__title {
                a {
                    font-size: rem(20px);
                    line-height: rem(26px);

                    @include screen (sm, min) {
                        font-size: rem(24px);
                        line-height: rem(34px);
                    }
                }
            }
        }
    }
    &-load-more {
        margin-bottom: rem(64px);
        text-align: center;

        @include screen (sm, min) {
            margin-bottom: rem(120px);
        }
        &__button {
            font-size: rem(16px);
            line-height: rem(21px);
            padding: em(14px);
        }
    }
}

.archive-podcast-episodes,
.category-tools,
.category-managing-your-finances,
.category-starting-your-business,
.category-reaching-customers,
.category-selling-anywhere,
.category-operating-your-business,
.category-growing-your-team {
    .archive-podcast-episodes__posts,
    .archive-explore-tools-posts,
    .archive-most-recent {
        .list-item {
            &-content {
                &__category {
                    margin-bottom: rem(10px);

                    @include screen(sm) {
                        margin-bottom: rem(6px);
                    }
                }
            }
        }
    }
}

.case-studies-most-recent {
    .list-item {
        &__image {
            min-width: 68px;
            img {
                max-width: 68px;
            }

            @include screen (sm, min) {
                min-width: 168px;
                img {
                    max-width: 168px;
                }
            }
        }
        &-content {
            &__title {
                a {
                    @include screen (sm, min) {
                        font-size: rem(32px);
                        line-height: rem(40px);
                    }
                }
            }
        }
    }
}
