.archive-tools {
    margin-bottom: rem(52px);

    @include screen (md, min) {
        margin-bottom: rem(120px);
    }
    &__description {
        font-size: rem(16px);
        line-height: rem(24px);
        margin: 0 0 rem(40px);
        max-width: 584px;

        @include screen (md, min) {
            font-size: rem(20px);
            line-height: rem(32px);
            margin: 0 auto rem(80px);
            text-align: center;
        }
    }
    .slick-list {
        @include screen(sm) {
            padding: 0 20% 0 0;
        }
    }
}
