.home-header {
    margin-top: rem(26px);
    &__logo {
        display: inline-block;
        margin-bottom: rem(26px);

        @include screen(md) {
            display: none;
        }
    }
    &-category-menu {
        border-bottom: 1px solid $square-light-line;
        border-top: 1px solid $square-light-line;
        padding: em(20px) 0;

        @include screen(md) {
            display: none;
        }
        &__items {
            list-style-type: none;
            text-align: center;
            li {
                display: inline-block;
                margin: 0 rem(12px);

                @include screen(custom, max, 1040) {
                    margin: 0 rem(6px);
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $square-black;
                    font-size: rem(14px);
                    font-weight: 600;
                    line-height: rem(20px);
                    transition: color 0.3s;
                    &:hover {
                        color: $square-market-blue;
                    }
                }
            }
        }
    }
}
