/*
|------------------------------------------------------------------|
|                          TYPOGRAPHY 							   |
|------------------------------------------------------------------|
*/

/* Colors */
$white: #fff;
$primary-color: #004e87;
$black: #000;
$square-market-blue: #006aff;
$square-market-blue-dark: #05c;
$square-grey: #737373;
$square-grey-mid: #b3b3b3;
$square-grey-light: #f2f2f2;
$square-dark-grey: #868686;
$square-red: #bf0020;
$square-black: #121212;
$square-sky-blue: #c9e8f5;
$square-dark-line: #404040;
$square-light-line: #d9d9d9;
$square-backdrop: rgba($square-black, 0.65);

/* Square Sans Text */
@include font-face("Square Sans Text", "SquareSansText-Regular", 400, "normal");
@include font-face("Square Sans Text, Italic", "SquareSansText-Italic", 400, "italic");
@include font-face("Square Sans Text", "SquareSansText-Medium", 500, "normal");
@include font-face("Square Sans Text, Italic", "SquareSansText-MediumItalic", 500, "italic");
@include font-face("Square Sans Text", "SquareSansText-SemiBold", 600, "normal");
@include font-face("Square Sans Text, Italic", "SquareSansText-SemiBoldItalic", 600, "italic");
@include font-face("Square Sans Text", "SquareSansText-Bold", 700, "normal");
@include font-face("Square Sans Text, Italic", "SquareSansText-BoldItalic", 700, "italic");

/* Square Sans Display */
@include font-face("Square Sans Display", "SquareSansDisplay-Regular", 400, "normal");
@include font-face("Square Sans Display", "SquareSansDisplay-Medium", 500, "normal");
@include font-face("Square Sans Display", "SquareSansDisplay-Bold", 700, "normal");

/* Square Sans Display Condensed */
@include font-face("Square Sans Display Cond", "SquareSansDisplay-RegularCondensed", 400, "normal");
@include font-face("Square Sans Display Cond", "SquareSansDisplay-MediumCondensed", 500, "normal");
@include font-face("Square Sans Display Cond", "SquareSansDisplay-BoldCondensed", 700, "normal");

$body-font: "Square Sans Text", sans-serif;
$body-font-italic: "Square Sans Text, Italic", sans-serif;
$heading-font: "Square Sans Display", sans-serif;
$heading-font-cond: "Square Sans Display Cond", sans-serif;
