.single-author {
    border-top: 1px solid $square-light-line;
    margin-bottom: rem(64px);
    padding-top: em(32px);

    @include screen (md, min) {
        margin-bottom: rem(120px);
        margin-left: rem(416px);
        margin-right: rem(100px);
    }
    img {
        border-radius: 50%;
        display: block;
        height: 80px;
        margin-right: rem(24px);
        width: 80px;
    }
    &__info {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        margin-bottom: rem(32px);
    }
    &__description {
        font-size: rem(16px);
        line-height: rem(24px);
        a {
            color: $square-black;
            transition: color 0.3s;
            &:hover {
                color: $square-market-blue;
            }
        }
    }
}
