.single-hero {
    margin-top: rem(72px);

    @include screen(sm) {
        margin-top: rem(40px);
    }
    [class*="col-"] {
        &:last-child {
            @include screen(sm, min) {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
            }
        }
    }
    .container {
        padding-bottom: em(88px);
        position: relative;

        @include screen(sm) {
            padding-bottom: em(48px);
        }
        &::before {
            background-color: $square-light-line;
            bottom: 0;
            content: "";
            height: 1px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            transition: width 0.4s;
            width: calc(100% - 2rem);
        }
    }
    &__title {
        color: $square-black;
        font-family: $heading-font;
        font-size: rem(64px);
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: rem(72px);
        margin-bottom: rem(56px);
        max-width: 894px;

        @include screen(sm) {
            font-size: rem(36px);
            line-height: rem(44px);
            margin-bottom: rem(32px);
        }
    }
    &__featured-image {
        border-radius: 16px;
        height: auto;
        max-width: 584px;
        width: 100%;
        &--fluid {
            border-radius: 0;
            height: auto;
            max-width: 100%;
            width: 100%;
        }

        @include screen(sm) {
            display: none;
        }
        &--is-mobile {
            display: none;

            @include screen(sm) {
                display: block;
                margin-bottom: rem(36px);
            }
        }
    }
    &__deck {
        font-size: rem(20px);
        font-weight: 400;
        line-height: rem(32px);
        margin-bottom: rem(24px);
        margin-top: rem(-6px);
        max-width: 480px;

        @include screen(sm) {
            font-size: rem(18px);
            line-height: rem(28px);
            margin-bottom: rem(32px);
            margin-top: 0;
            max-width: 100%;
        }
    }
    &__meta {
        font-size: rem(11px);
        font-weight: 500;
        letter-spacing: 1.2px;
        line-height: rem(20px);
        margin-bottom: rem(90px);
        text-transform: uppercase;

        @include screen(sm) {
            margin-bottom: rem(36px);
        }
        &-authors {
            margin-right: rem(16px);
        }
        &-author {
            color: $square-black;
            transition: color 0.3s;
            &:hover {
                color: $square-market-blue;
            }
        }
        &-date {
            color: $square-grey;
        }
    }
    &__taxonomies {
        list-style-type: none;
        margin-bottom: rem(36px);
        max-width: 480px;

        @include screen(sm) {
            margin-bottom: rem(28px);
            max-width: 100%;
        }
        &-taxonomy {
            background-color: $square-grey-light;
            border-radius: 4px;
            display: inline-block;
            margin-bottom: rem(6px);
            margin-right: rem(2px);
            transition: background-color 0.3s;
            a {
                color: $square-black;
                display: inline-block;
                font-size: rem(11px);
                font-weight: 500;
                letter-spacing: 1.2px;
                line-height: rem(18px);
                padding: em(6px) em(12px) em(4px);
                text-transform: uppercase;
                transition: color 0.3s;
                &:hover {
                    color: $square-market-blue;
                }
            }
            &--category {
                a {
                    transition: background-color 0.3s;
                }
                &:hover {
                    a {
                        color: $white;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__share {
        font-size: 0;
        list-style-type: none;
        li {
            border: 1px solid $square-light-line;
            border-radius: 50%;
            display: inline-block;
            margin-right: rem(12px);
            transition: border-color 0.3s;
            &:last-child {
                margin-right: 0;
            }
            a {
                align-items: center;
                display: flex;
                height: 32px;
                justify-content: center;
                transition: opacity 0.3s;
                width: 32px;
            }
            &:hover {
                border-color: $square-market-blue;
            }
        }
        .tooltip {
            display: inline-block;
            position: relative;
            &__text {
                background-color: $square-market-blue;
                border-radius: 6px;
                color: $white;
                font-size: rem(11px);
                font-weight: 500;
                left: 50%;
                letter-spacing: 1.2px;
                line-height: rem(18px);
                opacity: 0;
                padding: em(5px) 0;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                top: 40px;
                transform: translateX(-50%);
                transition: opacity 0.3s;
                visibility: hidden;
                width: 70px;
                z-index: 1;
                &::after {
                    border-color: transparent transparent $square-market-blue transparent;
                    border-style: solid;
                    border-width: rem(5px);
                    content: "";
                    left: 50%;
                    position: absolute;
                    top: -10px;
                    transform: translateX(-50%);
                }
            }
            &:hover {
                .tooltip__text {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &--fluid {
        .single-hero {
            &__meta {
                margin-bottom: 0;
            }
            .container {
                &::before {
                    display: none;
                }
            }
            [class*="col-"] {
                &:last-child {
                    @include screen(sm, min) {
                        justify-content: flex-end;
                    }
                }
            }
            &__content {
                @include screen(sm) {
                    display: none;
                }
            }
            &__taxonomies {
                margin-bottom: rem(32px);
            }
        }
    }
    &--fluid .container {
        &::before {
            display: none;
        }
        &--is-mobile {
            @include screen(sm, min) {
                display: none;
            }
            &::before {
                background-color: $square-light-line;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                transition: width 0.4s;
                width: calc(100% - 2rem);
            }
        }
    }
    &--fluid .container--is-mobile &__taxonomies {
        margin-top: rem(32px);
    }
}
