.single-keep-reading {
    background-color: $square-grey-light;
    padding-bottom: em(144px);

    @include screen(sm) {
        padding-bottom: rem(80px);
    }
    [class*="col-"]:not(:last-of-type) {
        @include screen (sm, min) {
            border-right: 1px solid $square-light-line;
        }
    }
    &__post {
        @include screen (sm) {
            border-bottom: 1px solid $square-light-line;
            margin-bottom: rem(28px);
            padding-bottom: em(28px);
        }
    }
    [class*="col-"]:last-child &__post {
        @include screen (sm) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
