.single-nav {
    background-color: $white;
    border-bottom: 1px solid $square-light-line;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: top 0.2s;
    z-index: 1;
    &--slide-down {
        top: 56px;

        @include screen (sm, min) {
            top: 66px;
        }
    }
    &--hide {
        top: -60px;
        transition: top 0.5s;

        @include screen (md, min) {
            top: -65px;
        }
    }
    &__inner {
        background-color: $white;
        > .container {
            align-items: center;
            display: flex;
            justify-content: space-between;

            @include screen (sm) {
                height: 56px;
            }
        }
    }
    &__toc {
        margin-top: -120px;
        transition: margin-top 0.5s;

        @include screen (sm, min) {
            margin-top: -200px;
        }
    }
    .single-toc {
        margin-bottom: rem(18px);
        margin-top: rem(18px);
        &__arrow {
            img {
                transition: transform 0.3s;
            }
        }

        @include screen (sm, min) {
            margin-bottom: rem(20px);
            margin-right: rem(72px);
            margin-top: rem(20px);
        }
        &__title {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-family: $body-font;
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
            margin: 0;
            img {
                margin-left: rem(10px);
                width: 10px;
            }
        }
        &__links {
            background-color: $square-sky-blue;
            left: 0;
            padding-bottom: em(34px);
            padding-top: em(28px);
            position: absolute;
            right: 0;
            top: -1000px;
            transition: top 0.5s;
            z-index: -1;
            &--inner {
                /* stylelint-disable */
                @extend .container;
                /* stylelint-enable */
            }

            @include screen (sm, min) {
                padding-bottom: em(37px);
                padding-top: em(32px);
            }
        }
        &.active {
            .single-toc__arrow {
                img {
                    transform: rotate(180deg);
                }
            }
            .single-toc__links {
                top: 100%;
            }
        }
        &__link {
            color: $square-black;
            display: block;
            font-size: rem(16px);
            line-height: rem(24px);
            margin-bottom: rem(14px);
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color: $square-market-blue;
                text-decoration: none;
            }
        }
    }
    &__title {
        -webkit-box-orient: vertical;
        display: none;
        font-family: $body-font;
        font-size: rem(16px);
        font-weight: 500;
        -webkit-line-clamp: 1;
        line-height: rem(24px);
        margin: rem(16px) 0 rem(16px) -135px;
        max-width: 60%;
        opacity: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: margin-left 0.5s, opacity 0.5s;
        &--no-toc {
            /* stylelint-disable */
            display: -webkit-box;
            /* stylelint-enable */
            margin: rem(16px) 0;

            @include screen (sm, min) {
                margin: rem(18px) 0;
            }
        }

        @include screen (sm, min) {
            /* stylelint-disable */
            display: -webkit-box;
            /* stylelint-enable */
            max-width: 50%;
            &:not(.single-nav__title--no-toc) {
                margin: rem(18px) rem(18px) rem(18px) -207px;
            }
        }

        @include screen (md, min) {
            max-width: 60%;
        }
    }
    .single-hero__share {
        margin-left: auto;
        padding: em(11px);

        @include screen (md, min) {
            padding: em(14px);
        }
        li {
            @include screen (sm) {
                margin-right: rem(8px);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__progress {
        background-color: $square-market-blue;
        bottom: -1px;
        height: 2px;
        left: 0;
        max-width: 100%;
        position: absolute;
    }

    // Tool download button
    .tools-download {
        margin-bottom: 0;
        margin-top: -200px;
        transition: margin-top 0.5s;
        &-button {
            background-color: transparent;
            color: $square-market-blue;
            padding: 0;
        }
    }
    &--tool {
        .single-nav__title {
            margin-left: -102px;
        }
    }

    // Title & ToC slide animation
    &--toc-enter {
        .single-nav__toc,
        .tools-download {
            margin-top: 0;
        }
        .single-nav__title {
            margin-left: 107px;
            opacity: 0;

            @include screen (sm, min) {
                opacity: 1;
            }
        }
    }
}
