.single-suggested {
    background-color: $square-grey-light;
    padding-bottom: rem(96px);
    padding-top: em(120px);

    @include screen(sm) {
        padding-bottom: rem(36px);
        padding-top: em(64px);
        &__featured-grid-post {
            border-bottom: 1px solid $square-light-line;
            margin-bottom: rem(28px);
        }
        [class*="col-"]:last-child &__featured-grid-post {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}
