.tools-download {
    margin-bottom: rem(64px);

    @include screen(sm) {
        &:first-child {
            margin-bottom: rem(44px);
            margin-top: - rem(16px);
        }
    }
    &:last-child {
        margin-top: rem(64px);

        @include screen(sm) {
            margin-bottom: rem(48px);
            margin-top: rem(48px);
        }
    }
    &-button {
        font-size: rem(16px);
        padding: em(14px);
        &__content {
            align-items: center;
            display: flex;
            justify-content: center;
            img {
                border-radius: 0;
                margin: 0 0 0 rem(8px);
            }
        }
    }
}
