.contact-sales {
    margin: rem(118px) 0;
    padding: 0 em(16px);

    @include screen(sm) {
        margin: rem(51px) 0;
    }
    &-container {
        align-items: center;
        background-color: $square-sky-blue;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 792px;
        padding: em(64px) em(100px);

        @include screen(sm) {
            padding: em(36px) em(26px);
        }

        @include screen(sm) {
            flex-direction: column-reverse;
        }
    }
    &-content {
        max-width: 380px;
        width: 100%;

        @include screen(sm, min) {
            margin-right: rem(24px);
        }
        &__title {
            color: $square-black;
            font-size: rem(32px);
            font-weight: 500;
            line-height: rem(40px);
            margin-bottom: rem(16px);

            @include screen(sm) {
                font-size: rem(24px);
                line-height: rem(30px);
            }
        }
        &__desc {
            color: $square-black;
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(24px);
            margin-bottom: rem(30px);
        }
        &__button {
            padding: em(14px);
        }
        &__image {
            img {
                height: auto;
                max-width: 200px;
                width: 100%;
            }
        }

        @include screen(sm) {
            max-width: 100%;
            width: 100%;
            &__image {
                margin-bottom: rem(30px);
                text-align: center;
                width: 100%;
            }
        }
    }
    &--full {
        background-color: $square-sky-blue;
        margin: rem(118px) 0 0;
        padding: 0;

        @include screen(sm) {
            margin: rem(64px) 0 0;
        }
    }
    &--full &-container {
        border-radius: 0;
        max-width: 900px;
    }
}
