.get-started {
    &-flex {
        align-items: center;
        background-color: $square-sky-blue;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        display: flex;
        justify-content: center;
    }
    &__image {
        margin-right: rem(24px);
        min-width: 120px;
        img {
            width: 100%;
        }
    }
    &__content {
        &-title {
            font-size: rem(24px);
            font-weight: 500;
            line-height: rem(30px);
            margin-bottom: rem(12px);
        }
        &-desc {
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(20px);
        }
    }
    .button {
        display: none;
    }
    &--header {
        display: none;
        margin-right: - rem(86px);
        max-width: 465px;
        position: absolute;
        top: 65px;
        width: 100%;

        @include screen(custom, max, 1360) {
            margin-right: 0;
        }
        .get-started-flex {
            padding: em(36px) em(24px) em(40px);
        }

        @include screen(sm) {
            display: none;
        }
    }
}
