#header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    .site-header {
        background-color: $white;
        padding: em(15px) 0;
        position: sticky;
        z-index: 2;
        .desktop-header {
            padding: rem(15px) 0;
        }
        .container {
            align-items: center;
            justify-content: space-between;
            &__col {
                padding-bottom: em(16px);
                padding-top: em(16px);

                @include screen(sm, min) {
                    min-width: 200px;
                }

                @include screen(sm) {
                    padding-top: em(20px);
                }
                &:nth-child(1) {
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                }
                &:nth-child(2) {
                    padding-left: em(10px);
                    text-align: center;

                    @include screen(sm) {
                        display: none;
                    }
                }
                &:nth-child(3) {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &__menu {
            display: inline-block;
            list-style-type: none;
            vertical-align: middle;
            li {
                display: inline-block;
                a {
                    color: $black;
                    display: inline-block;
                    font-size: rem(18px);
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    margin: 0 rem(15px);
                    padding-bottom: em(5px);
                    position: relative;
                }
            }
        }
        [class*="col-md-"] {
            &:last-child {
                align-items: center;
                display: flex;
                justify-content: flex-end;
            }
        }
        .search {
            input {
                border: 1px solid #0078cc;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-size: 0.875rem;
                margin-right: 5px;
                min-height: 34px;
                opacity: 0;
                padding: 5px 15px;
                position: absolute;
                right: 25px;
                top: -5px;
                transition: all 0.1s;
                width: 0;
            }
        }
    }
}

.secondary-menu {
    background-color: $primary-color;
    padding: 10px 0;
    position: relative;
    .list {
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            color: $white;
            display: inline-block;
            font-size: 14px;
            font-size: 0.875rem;
            font-weight: 400;
            margin-right: 15px;
            a {
                color: $white;
            }
            img {
                display: inline-block;
                transform: rotate(0deg);
                transition: transform 0.3s ease 0s;
            }
            span {
                cursor: pointer;
                font-weight: 700;
            }
            &:first-child {
                cursor: pointer;
            }
            .list__dropdown {
                display: block;
            }
        }
    }
    .btn-custom {
        background-color: #fcd505;
        border-radius: 5px;
        color: $black;
        float: right;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-left: -1rem;
        padding: 6px 30px;
        transition: all 0.3s;
    }
}
