.most-popular {
    &--home {
        margin-bottom: rem(120px);

        @include screen(sm) {
            margin-bottom: rem(36px);
        }
    }
    &--categories {
        margin-bottom: rem(120px);
        margin-top: rem(120px);

        @include screen(sm) {
            margin-bottom: rem(64px);
            margin-top: rem(64px);
        }
    }
    [class*="col-"] {
        @include screen(sm, min) {
            border-left: 1px solid $square-light-line;
            &:first-child {
                border-left: 0;
            }
        }

        @include screen(sm) {
            &:first-child {
                .most-popular__post {
                    padding-top: 0;
                }
            }
            &:last-child {
                .most-popular__post {
                    border-bottom: 0;
                }
            }
        }
    }
    &__post {
        @include screen(sm) {
            border-bottom: 1px solid $square-light-line;
            padding-bottom: em(24px);
            padding-top: em(28px);
        }
    }
}
