.newsletter {
    margin-bottom: rem(118px);
    padding: 0 em(16px);

    @include screen(sm) {
        margin-bottom: rem(64px);
    }
    &-signup {
        background-color: $square-sky-blue;
        border-radius: 16px;
        display: flex;
        margin: 0 auto;
        max-width: 792px;
        padding: em(74px) em(60px);
        .newsletter-email__form-msg {
            color: $square-grey;
        }

        @include screen(sm) {
            flex-direction: column-reverse;
            padding: em(24px) em(26px);
        }
        &__content {
            @include screen(sm, min) {
                margin-right: rem(60px);
            }
        }
        &__image {
            img {
                height: auto;
                max-width: 200px;
                width: 100%;
            }
        }

        @include screen(sm) {
            &__image {
                margin-bottom: rem(30px);
                text-align: center;
                width: 100%;
            }
        }
        &__title {
            color: $square-black;
            font-size: rem(32px);
            font-weight: 500;
            line-height: rem(40px);
            margin-bottom: rem(64px);
            max-width: 468px;

            @include screen(sm) {
                font-size: rem(24px);
                line-height: rem(30px);
                margin-bottom: rem(56px);
            }
        }
        &__form {
            max-width: 428px;
            position: relative;
            &-input {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $square-grey;
                color: $square-black;
                font-family: $body-font;
                font-size: rem(16px);
                font-weight: 400;
                line-height: rem(21px);
                padding: em(16px) em(90px) em(15px) em(2px);
                width: 100%;
                &::placeholder {
                    color: $square-grey;
                    font-family: $body-font;
                    opacity: 1;
                }
            }
        }
        &__button {
            bottom: 10px;
            display: inline-block;
            font-family: $body-font;
            font-weight: 500;
            margin-left: rem(-80px);
            padding: em(10px) em(15px) em(12px);
            position: absolute;
            right: 0;
        }
    }
    &-email {
        &__form {
            &-msg {
                @include screen(sm, min) {
                    position: absolute;
                }
                color: $square-grey-mid;
                display: none;
                font-size: rem(16px);
                line-height: rem(21px);
                margin-top: rem(14px);
            }
            &-success {
                display: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

