.search-categories {
    margin-bottom: rem(48px);

    @include screen(sm) {
        margin-bottom: rem(32px);
    }
    .no-posts {
        color: $square-grey-mid;
        pointer-events: none;
        &:hover {
            border-color: $square-light-line;
        }
    }
    .no-posts.search-categories__topic--active {
        background-color: transparent;
        border-color: $square-light-line;
        .search-categories__topic--count {
            color: $square-market-blue;
        }
    }
    &__topic {
        &--active {
            pointer-events: none;
        }
    }
}
