.search-tags {
    border-top: 1px solid $square-light-line;
    margin-bottom: rem(100px);
    padding-top: em(26px);

    @include screen(sm) {
        margin-bottom: rem(57px);
    }
    [class*="col-"] {
        @include screen(sm) {
            margin-bottom: rem(8px);
            &:last-child {
                margin-bottom: 0;
            }
        }

        @include screen(sm, min) {
            &:nth-child(1),
            &:nth-child(2) {
                padding-right: em(8px);
            }
            &:nth-child(2),
            &:nth-child(3) {
                padding-left: em(8px);
            }
            &:nth-child(3) {
                padding-right: em(8px);
            }
            &:nth-child(4) {
                padding-left: em(8px);
            }
        }
    }
}
